.header__burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media screen and (min-width: 641px) {
  .header__burger-btn {
    display: none;
    opacity: 0;
  }
}