.contacts__link_icon_mail::before {
  position: absolute;
  top: .16em;
  left: -1.56em;
  content: url('data:image/svg+xml,<svg viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg"><path d="M2 0h12c1.105 0 2 .895 2 2v8c0 1.105-.895 2-2 2H2c-1.105 0-2-.895-2-2V2C0 .895.895 0 2 0zm0 1c-.552 0-1 .448-1 1v8c0 .552.448 1 1 1h12c.552 0 1-.448 1-1V2c0-.552-.448-1-1-1H2zm.817 1.114L8 6.368l5.183-4.254c.213-.176.528-.145.703.07.176.212.145.527-.07.702L8.317 7.4c-.183.152-.45.152-.633 0l-5.5-4.514c-.214-.175-.245-.49-.07-.703.176-.214.49-.245.704-.07z" fill-rule="nonzero" fill="%23999"></path></svg>');
  width: 1.25em;
  height: .94em;
}