.care__title {
  font-size: 2.03em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .care__title {
    font-size: 6.5em;
  }
}
