.about__name {
  font-size: 1.25em;
  line-height: 1.8em;
  font-weight: 400;
  margin: 16px 0 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about__name {
    font-size: 14px;
  }
}
