.header__link {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25em;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .header__link {
    font-size: 4em;
  }
}
