.logo__image {
  font-family:'PPAgrandir', Arial, sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 1.25em;
}

@media screen and (max-width: 640px) {
  .logo__image {
    font-size: 6em;
    letter-spacing: .06em;
  }
}
