.logo {
  height: 4.3em;
  width: 17.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 5em;
  top: 1.17em;
}

@media screen and (max-width: 640px) {
  .logo {
    height: 13.75em;
    left: 3em;
    top: 3.75em;
    width: 60.3em;
  }
}
