.care__card {
  list-style: none;
  padding: 0;
  border: 0.5px solid #929292;
  display: flex;
  flex-direction: column;
  gap: 2.34em;
  width: 30.3%;
  padding: 1.56em;
  box-sizing: border-box;
}
