.about__paragraphs {
  padding: 0;
  width: 82%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

@media screen and (max-width: 768px) {
  .about__paragraphs {
    width: 100%;
  }
}

.about__paragraphs li {
  list-style: none;
  width: 100%;
}
