.header {
  display: flex;
  height: 6.7em;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .header {
    height: 21em;
    justify-content: flex-end;
    /* position: relative; */
  }
}
